.check:first-of-type {
  width: 50px;
  height: 20px;
  position: relative;margin-left: 155px;margin-top: -35px;
}
.check:first-of-type input {
  opacity: 0;
}

.check:first-of-type label {
  position: absolute;
  background-color: red;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 1;
  border-radius: 15px;
  -webkit-transition: background-color .2s ease-in-out;
          transition: background-color .2s ease-in-out;
}
.check:first-of-type label:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 3.125rem;
  cursor: pointer;
  position: absolute;
  top: 2px;
  z-index: 1;
  left: 3px;
  background-color: #fff;
  -webkit-transition: left .3s ease-in-out;
          transition: left .3s ease-in-out;
}
.check:first-of-type input[type=checkbox]:checked ~ label {
  background-color: #2196f3;opacity: 1;
}
.check:first-of-type input[type=checkbox]:checked ~ label:after {
  left: 31px;
}
.selec{text-align: left;font-size: 15px;margin-left: 220px;font-family: arial;}
.sup_tous{background-color:#c9d4d6; border:none;padding: 7px;color: #3f4951; border-radius: 5px;font-family: arial;
           font-size: 14px; margin-left: 370px;margin-top: -38px;cursor: pointer;}